body {
    animation: fadeIn 1s;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    color: goldenrod;
}

.row {
    height: 20vh;
}

.rowText {
    margin-top: 5rem;
}

#blue {
    background-color: #1C3144;
}

#lighterBlue {
    background-color: #596F62;
}

#teal {
    background-color: #7EA16B;
}

#green {
    background-color: #C3D898;
}

#burgundy {
    background-color: #70161E;
}

#cardContent {
    height: 100vh;
    background-color: #1C3144;
    color: goldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: left;
}

.cardText {
   padding-top: 20rem;
   padding-left: 1rem;
   padding-right: 1rem;
   line-height: 2.5rem;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

